@import url('https://fonts.googleapis.com/css?family=Varela+Round');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

aside{
  padding: 0.5em;
  background-color: grey;
  width: 25vw;
  height: 100vh;
  z-index: 100;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
}

#searchInput{
  width: 90%;
  padding-left: 5px;
}

#locationList{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0 0.3em;
  margin-top: 1em;
}

#locationList li{
  list-style: none;
  margin: 0.4em auto;
  width: 100%;
}

#locationList a{
  text-decoration: none;
  color: white;
  width: 100%;
  text-align: center;
}

#locationList a:hover {
    text-decoration: underline;
    color: #e3d3ff; 
}